@model IEnumerable<inicio.Models.Producto>

<div  style="margin-top: 5%; margin-bottom:5%;" >
<h1 style="color: white;">Carta del dia</h1>
</div>
<form  asp-action="Index" method="get">
    <p>
         <input type="search" placeholder="Buscar Plato"  value=" @ViewData["Getemployeedetails"]" name="Empsearch"/>
        <input type="submit" value="Buscar" class="btn btn-primary" />

        <a asp-action="Index">atras</a>
    </p>
</form>

<h1>@ViewData["Title"]</h1>
  <div class="container">
    <h1>@ViewData["Message"]</h1>
    <div class="row">
      <div class="col">
        <div id="products" class="mb-3">
          <div class="row">
            @foreach (var item in Model) {
            <div class="col-sm-4">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="card-img-actions">
                    <img class="img-responsive" width="96" height="150"
                       src="/img/@item.Imagen" alt="@item.Imagen"  />
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                  <p class="card-text">@Html.DisplayFor(modelItem => item.Precio)</p>
                  <p class="card-text">@Html.DisplayFor(modelItem => item.Descripcion)</p>

                  <a class="btn btn-primary" asp-action="Add" asp-route-id="@item.Id">Add</a>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

