@model IEnumerable<inicio.Models.Proforma>

@{
    ViewData["Title"] = "Index";
}
<div  style="margin-top: 5%; margin-bottom:5%;" >
<h1 style="color: white;">Realizar Compra</h1>
</div>


<table class="table">
    <thead>
        <tr style="color: white;">
            <th >
                @Html.DisplayNameFor(model => model.Producto.Imagen)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Producto.Nombre)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                <img class="img-responsive" width="96" height="150"
                       src="~/img/@item.Producto.Imagen" alt="@item.Imagen"  />
            </td>
           <td style="color: white;">
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td style="color: white;">
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td style="color: white;" >
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
           
            <td>
                <a asp-action="Delete" class="btn btn-danger"   style="background: #F7819F" asp-route-id="@item.Id">Borrar</a>
            
                <a asp-action="Edit" class="btn btn-danger"   style="background: #F7819F" asp-route-id="@item.Id">Editar</a>
            </td>
        </tr>
}
<main>
        <div class="container">
            <div class="row mt-3">
                <div class="col">
                    <form id="procesar-pago" action="#">
                        <div class="form-group row">
                            <label for="cliente" class="col-12 col-md-2 col-form-label h2"style="color: white;">Cliente :
                            </label>
                            <div class="col-12 col-md-10">
                                <input type="text" class="form-control" id="cliente"
                                    placeholder="Ingresa nombre cliente" required>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="email" class="col-12 col-md-2 col-form-label h2"style="color: white;">Correo :</label>
                            <div class="col-12 col-md-10">
                                <input type="email" class="form-control" id="correo" placeholder="Ingresa tu correo" required>
                            </div>
                            
                        </div>

                        <div id="carrito" class="table-responsive">
                            <table class="table" id="lista-compra">
                                <thead>
                                    
                                </thead>

                                <tr>
                                    <th colspan="4" scope="col" class="text-center" style="color: white;">SUB TOTAL :</th>
                                    <th scope="col">
                                        <p id="subtotal"></p>
                                    </th>
                                    <!-- <th scope="col"></th> -->
                                </tr>
                                <tr>
                                    <th colspan="4" scope="col" class="text-center" style="color: white;">IGV :</th>
                                    <th scope="col">
                                        <p id="igv"></p>
                                    </th>
                                    <!-- <th scope="col"></th> -->
                                </tr>
                                <tr>
                                    <th colspan="4" scope="col" class="text-center" style="color: white;">TOTAL :</th>
                                    <th scope="col">
                                        <p id="total"></p>
                                    </th>
                                    <!-- <th scope="col"></th> -->
                                </tr>

                            </table>
                        </div>

                       


                        <div class="row justify-content-around" style=" margin-left:-5%;" >
                            <div class="col-xs-12 col-md-4" >
                                <a href="~/Catalogo" class="btn btn-outline-primary" style="width:300px;">Seguir comprando</a>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <a href="" class="btn btn-outline-primary" style="width:300px;" id="procesar-compra">Realizar compra</a>
                            </div>
                        </div>
                        
                    </form>


                </div>


            </div>

        </div>
    </main>
        </tbody>
</table>